<article class="post">
    <div class="title">
        <h4>{{title}}</h4>
        <p>{{content}}</p>
    </div>
    <div class="meta">
        {{likes}} by {{user.username}} on {{created_at}}
        |
        <a href="/posts/{{id}}">{{comments.length}}comments</a>
    </div>
</article>